@import "tailwindcss";

@theme {
  --font-size-xs: 12px;
  --font-size-13: 14px;
  --font-size-base: 16px;
}

body {
  font-size: 13px;
  background-color: white;
  background-image: url("assets/usted.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
  color: #1f2937;
}


/* Pop-in animation for modal */
@keyframes modalPopIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalPopOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backdropFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.modal-enter {
  animation: modalPopIn 0.3s ease-out forwards;
}

.modal-exit {
  animation: modalPopOut 0.25s ease-in forwards;
}

.backdrop-enter {
  animation: backdropFadeIn 0.3s ease-out forwards;
}

.backdrop-exit {
  animation: backdropFadeOut 0.25s ease-in forwards;
}
